@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/flatpickr.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

.scroll-mongo-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    margin-bottom: 40px;
}

.scroll-mongo-to-top>svg {
    height: 16px;
    width: 16px;
}

.form-checkbox,
.form-radio {
    color: #00684A !important;
    border-color: #00684A !important;
    outline-color: #00684A;
}

@layer components {

    /* .analyzer-container {
  } */
    /* Source: https: //stackoverflow.com/a/71067532 */
    .analyzer-container .analyzer__control {
        @apply dark:bg-black dark:text-slate-100;
    }

    .analyzer-container .analyzer__control--is-focused {
        @apply dark:bg-black dark:text-slate-100;
    }

    .analyzer-container .analyzer__value-container .analyzer__input-container .analyzer__input {
        @apply dark:bg-black dark:text-white;
    }

    .analyzer-container .analyzer__menu {
        @apply dark:bg-black dark:text-slate-100;
    }

    .analyzer-container .analyzer__option {
        @apply dark:bg-black dark:text-slate-100;
    }

    /* .analyzer-container .analyzer__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

    .analyzer-container .analyzer__indicator-separator {
        @apply bg-neutral-400;
    }

    .analyzer-container .analyzer__input-container .analyzer__input,
    .analyzer__value-container .analyzer__input-container .analyzer__input,
    .analyzer-container .analyzer__placeholder,
    .analyzer__value-container .analyzer__single-value {
        @apply dark:bg-black dark:text-slate-100;
    }
}